<footer>
    <div class="top_header">
        <section>
            <a target="_blank" href="https://www.google.com/maps/dir/40.795508,43.8359362/%D0%93%D1%8E%D0%BC%D1%80%D0%B8,+%D0%90%D1%80%D0%BC%D0%B5%D0%BD%D0%B8%D1%8F/@40.7942052,43.8366043,16z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x4041fb8b9b34fc9f:0x4f4bed0e45f99102!2m2!1d43.8464971!2d40.7929026!3e0">
                <span><i class="fa fa-map-marker"></i></span>
            </a>
            <a target="_blank" href="https://www.google.com/maps/dir/40.795508,43.8359362/%D0%93%D1%8E%D0%BC%D1%80%D0%B8,+%D0%90%D1%80%D0%BC%D0%B5%D0%BD%D0%B8%D1%8F/@40.7942052,43.8366043,16z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x4041fb8b9b34fc9f:0x4f4bed0e45f99102!2m2!1d43.8464971!2d40.7929026!3e0">
                <span>Gyumri, full address</span>
            </a>
        </section>
        <section>
            <a href="tel:+37498321323">
                <span><i class="fa fa-phone"></i></span>
            </a>
            <a href="tel:+37498321323">
                <span>(+374)98 00 00 00</span>
            </a>
        </section>
        <section>
            <a href="mailto:haykhovsepyan9224@gmail.com">
                <span><i class="fa fa-envelope"></i></span>
            </a>
            <a href="mailto:haykhovsepyan9224@gmail.com">
                <span>haykhovsepyan9224@gmail.com</span>
            </a>
        </section>
    </div>
    <span class="border-shape"></span>
    <div class="bottom_content">
        <section>
            <a target="_blank" href="https://www.facebook.com/"><i style="font-size: 24px" class="fa-brands fa-facebook"></i></a>
            <a target="_blank" href="https://www.instagram.com/"><i style="font-size: 24px"  class="fa-brands fa-instagram"></i></a>
            <a target="_blank" href="https://twitter.com/i/flow/login"><i style="font-size: 24px"  class="fa-brands fa-twitter"></i></a>
            <a target="_blank" href="https://web.telegram.org/z/"><i style="font-size: 24px"  class="fa-brands fa-telegram"></i></a>
        </section>
        <section>
            <a href="/">Home</a>
            <a href="index">About us</a>
            <a href="about">Projects</a>
            <a href="#">Gyumri</a>
            <a href="#">Member</a>
            <a href="#">Contact Us</a>
        </section>
    </div>
    <div class="copyright">
        Copyright © 2022 websitename - All rights reserved
    </div>
</footer>