<% layout('../leauts/main') %>

<nav>
    <ul class="ul">
        <li class="li" style="--clr:#00ade1">
            <a class="a" href="vanatur" data-text="&nbsp;Vanatur">&nbsp;VANATUR&nbsp;</a>
        </li>
        <li class="li" style="--clr:#ff6493">
            <a class="a" href="alexandrapol" data-text="&nbsp;alexandrapol">&nbsp;ALEXANDRAPOL&nbsp;</a>
        </li>
        <li class="li" style="--clr:#ffdd1c">
            <a class="a" href="imperial" data-text="&nbsp;imperial">&nbsp;IMPERIAL&nbsp;</a>
        </li>
        <li class="li" style="--clr:#00dc82">
            <a class="a" href="florenc" data-text="&nbsp;florenc">&nbsp;Florenc&nbsp;</a>
        </li>
        <li class="li" style="--clr:#dc00d4">
            <a class="a" href="vale" data-text="&nbsp;vale">&nbsp;VALE&nbsp;</a>
        </li>
        <li class="li" style="--clr:#00ade1">
            <a class="a" href="cherkez" data-text="&nbsp;cherkez">&nbsp;CHERKEZ&nbsp;</a>
        </li>
    </ul>
</nav>