<% layout('../leauts/main') %>

<div class="logoh1">

    <div class="title">
        <img class="imglogo" src="./img/Gyumri.jpg" alt="gyumri">
        <h1>ԳՅՈՒՄՐԻ ՌԵՍՏՈՐԱՆՆԵՐ</h1>
    </div>
</div>


<div class="homecontainer">
    <figure class="figimghome">
        <figcaption class="fighome"><h3 class="figh3">VANATUR</h3></figcaption>
        <a class="ahome" href="vanatur"><img class="homeimg" src="./img/vanatur.jpg" alt="imperial"></a>
    </figure>
   <figure>
       <figcaption class="fighome"><h3 class="figh3">ALEXANDRAPOL</h3></figcaption>
       <a class="ahome" href="alexandrapol"><img class="homeimg" src="./img/alex.jpg" alt="imperial"></a>
   </figure>
   <figure>
       <figcaption class="fighome"><h3 class="figh3">IMPERIAL</h3></figcaption>
       <a class="ahome" href="imperial"><img class="homeimg" src="./img/6.jpg" alt="imperial"></a>
   </figure>
   <figure>
       <figcaption class="fighome"><h3 class="figh3">Florenc</h3></figcaption>
       <a class="ahome" href="florenc"><img class="homeimg" src="./img/florenc.jpg" alt="viktoria"></a>
   </figure>
   <figure>
       <figcaption class="fighome"><h3 class="figh3">VALE</h3></figcaption>
       <a class="ahome" href="vale"><img class="homeimg" src="./img/vale.jpg" alt="imperial"></a>
   </figure>
    <figure>
        <figcaption class="fighome"><h3 class="figh3">CHERKEZI DZOR</h3></figcaption>
        <a class="ahome" href="cherkez"><img class="homeimg" src="./img/cherkezi-dzor.jpg" alt="viktoria"></a>
    </figure>
</div>