<% layout('../leauts/main') %>

<div class="wraper">
    <div class="indexcontainer">
        <div class="indextitle">
            <img class="logo" src="./img/vlogo.jpg" alt="vanatur">
            <h3 class="indexh3">Vanatour Restaurant</h3>
        </div>
        <div class="contact">
            <div class="indexflex">
                <div>
                    <div class="box">
                        <a class="indexa" href="tel: +374 312 30192">
                            <i class="fa-solid fa-phone iconsize"></i>
                            Vanatour Restaurant
                        </a>
                    </div>
                    <div class="box">
                        <a class="indexa" href="mailto: vanatour1999@mail.ru">
                            <i class="fa-solid fa-square-envelope iconsize"></i>
                            vanatour1999@mail.ru
                        </a>
                    </div>
                    <div class="box">
                        <a target="_blank" class="indexa" href="https:www.facebook.com/vanatourrestaurant/">
                            <i class="fa-brands fa-facebook iconsize"></i>
                            facebook
                        </a>
                    </div>
                    <div class="box">
                        <a target="_blank" class="indexa" href="https://www.google.com/maps/dir/40.795508,43.8359362/%D0%93%D1%8E%D0%BC%D1%80%D0%B8,+QVQ6%2B628,+Gyumri,+%D0%90%D1%80%D0%BC%D0%B5%D0%BD%D0%B8%D1%8F/@40.7910523,43.8390216,15z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x4041fbb942ea8601:0xbf113940989d6dbf!2m2!1d43.8600228!2d40.7880625!3e0">
                            <i class="fa-solid fa-location-pin"></i>
                            at the junction of Rizhkov & Gorki sts, Гюмри Армени
                        </a>
                    </div>
                </div>
                <div class="indexp">
                    <p>
                        Տարվա ամենանուրբ տոնին մնաց շատ քիչ ժամանակ:
                        Գեղեցիկ սեռին ուրախացնելու և տոնական
                        տրամադրություն պարգևելու համար ընդամենը վերցնում
                        եք հեռախոսը, զանգահարում և մարտի 8-ի համար սեղան
                        ամրագրում Մնացածը՝ տեղում:
                    </p>
                </div>
            </div>
            <hr>
            <div class="indextitle">
                <img class="logo" src="./img/axlogo.jpeg" alt="vanatur">
                <h3 class="indexh3">Alexandrapol  Restaurant</h3>
            </div>
            <div class="indexflex">
                <div>
                    <div class="box">
                        <a class="indexa" href="tel: +37494240124">
                            <i class="fa-solid fa-phone iconsize"></i>
                            Alexandrapol  Restaurant
                        </a>
                    </div>
                    <div class="box">
                        <a class="indexa" href="mailto: info@alexandrapolhotel.am">
                            <i class="fa-solid fa-square-envelope iconsize"></i>
                            info@alexandrapolhotel.am
                        </a>
                    </div>
                    <div class="box">
                        <a target="_blank" class="indexa" href="https://www.facebook.com/aleksandrapolhotel/">
                            <i class="fa-brands fa-facebook iconsize"></i>
                            facebook
                        </a>
                    </div>
                    <div class="box">
                        <a target="_blank" class="indexa" href="https://www.google.com/maps/dir/40.795508,43.8359362/Hotel+Alexandrapol,+70+Mayakovsky+Street,+Gyumri+3104,+%D0%90%D1%80%D0%BC%D0%B5%D0%BD%D0%B8%D1%8F/@40.7882396,43.8292965,15z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x4041fc7605d393c7:0x514194ea81380157!2m2!1d43.8414565!2d40.7821694!3e0">
                            <i class="fa-solid fa-location-pin"></i>
                            Myakovski 70, Gyumri, Armenia
                        </a>
                    </div>
                </div>
                <div class="indexp">
                    <p>
                        Այստեղ անցկացրած յուրաքանչյուր օր կլինի անմոռանալի և հաճելի հիշողություններով լի
                        Միամսյակի առթիվ մի ամբողջ ամիս շարունակ մենք առաջարկում ենք շքեղ ու հարմարավետ համարներ զեղչված արժեքներով, որոնք ունեն
                    </p>
                </div>
            </div>
            <hr>
            <div class="indextitle">
                <img class="logo" src="./img/ilogo.jpg" alt="vanatur">
                <h3 class="indexh3">Imperial  Restaurant</h3>
            </div>
            <div class="indexflex">
                <div>
                    <div class="box">
                        <a class="indexa" href="tel: +37498444044">
                            <i class="fa-solid fa-phone iconsize"></i>
                            Imperial  Restaurant
                        </a>
                    </div>
                    <div class="box">
                        <a class="indexa" href="mailto: imperialprf@gmail.com">
                            <i class="fa-solid fa-square-envelope iconsize"></i>
                            imperialprf@gmail.com
                        </a>
                    </div>
                    <div class="box">
                        <a target="_blank" class="indexa" href="https://www.facebook.com/Imperial.gyumri/">
                            <i class="fa-brands fa-facebook iconsize"></i>
                            facebook
                        </a>
                    </div>
                    <div class="box">
                        <a target="_blank" class="indexa" href="https://www.google.com/maps/dir/40.795508,43.8359362/40.7999957,43.8564992/@40.7982924,43.8280602,14z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0">
                            <i class="fa-solid fa-location-pin"></i>
                            Xrimyan Hayrim 38/6 Gyumri, Armenia
                        </a>
                    </div>
                </div>
                <div class="indexp">
                    <p>
                        Մեր աշխատանքի գնահատականը տալիս են մեր հաճախորդները...
                        Դարձրե՛ք ձեր հարսանեկան տոնախմբությունն անմոռանալի և ինքնատիպ
                        Հիշարժան ու տարբերվող դարձրեք ձեր կյանքի երջանիկ սկիզբը
                    </p>
                </div>
            </div>
            <hr>
            <div class="indextitle">
                <img class="logo" src="./img/flogo.jpg" alt="vanatur">
                <h3 class="indexh3">Florence  Restaurant</h3>
            </div>
            <div class="indexflex">
                <div>
                    <div class="box">
                        <a class="indexa" href="tel: +37498444044">
                            <i class="fa-solid fa-phone iconsize"></i>
                            Florence  Restaurant
                        </a>
                    </div>
                    <div class="box">
                        <a class="indexa" href="mailto: imperialprf@gmail.com">
                            <i class="fa-solid fa-square-envelope iconsize"></i>
                            florence@gmail.com
                        </a>
                    </div>
                    <div class="box">
                        <a target="_blank" class="indexa" href="https://m.facebook.com/gyumritv/posts/1669271213216731?locale2=ms_MY">
                            <i class="fa-brands fa-facebook iconsize"></i>
                            facebook
                        </a>
                    </div>
                    <div class="box">
                        <a target="_blank" class="indexa" href="https://www.google.com/maps/dir/40.795508,43.8359362/Florence+Gyumri,+%D0%93%D1%8E%D0%BC%D1%80%D0%B8/@40.7915856,43.8325602,16z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x4041fb4acee53b47:0x6308af0405f3434c!2m2!1d43.8384024!2d40.7877463!3e0">
                            <i class="fa-solid fa-location-pin"></i>
                            Florence Gyumri, Shirazi 5/7, Gyumri 3105, Армения
                        </a>
                    </div>
                </div>
                <div class="indexp">
                    <p>
                        Մեր աշխատանքի գնահատականը տալիս են մեր հաճախորդները...
                        Դարձրե՛ք ձեր հարսանեկան տոնախմբությունն անմոռանալի և ինքնատիպ
                        Հիշարժան ու տարբերվող դարձրեք ձեր կյանքի երջանիկ սկիզբը
                    </p>
                </div>
            </div>
            <hr>
            <div class="indextitle">
                <img class="logo" src="./img/valelogo.jpg" alt="vanatur">
                <h3 class="indexh3">Vale  Restaurant</h3>
            </div>
            <div class="indexflex">
                <div>
                    <div class="box">
                        <a class="indexa" href="tel: +37495111177">
                            <i class="fa-solid fa-phone iconsize"></i>
                            Vale  Restaurant
                        </a>
                    </div>
                    <div class="box">
                        <a class="indexa" href="mailto: gevorgdanielyan1993@mail.ru">
                            <i class="fa-solid fa-square-envelope iconsize"></i>
                            gevorgdanielyan1993@mail.ru
                        </a>
                    </div>
                    <div class="box">
                        <a target="_blank" class="indexa" href="https://www.facebook.com/valerestauranthotelcomplex/">
                            <i class="fa-brands fa-facebook iconsize"></i>
                            facebook
                        </a>
                    </div>
                    <div class="box">
                        <a target="_blank" class="indexa" href="https://www.google.com/maps/dir/40.795508,43.8359362/VALE+hotel,+Vazgen+Sargsyan+Street,+%D0%93%D1%8E%D0%BC%D1%80%D0%B8/@40.8014079,43.8321235,15z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x4041fb8b4294fe57:0x672137b56c41ff4b!2m2!1d43.845812!2d40.8088318!3e0">
                            <i class="fa-solid fa-location-pin"></i>
                            VALE hotel, 30/1 Vazgen Sargsyan Street, Gyumri 3108, Армения
                        </a>
                    </div>
                </div>
                <div class="indexp">
                    <p>
                        Մեր աշխատանքի գնահատականը տալիս են մեր հաճախորդները...
                        Դարձրե՛ք ձեր հարսանեկան տոնախմբությունն անմոռանալի և ինքնատիպ
                        Հիշարժան ու տարբերվող դարձրեք ձեր կյանքի երջանիկ սկիզբը
                    </p>
                </div>
            </div>
            <hr>
            <div class="indextitle">
                <img class="logo" src="./img/flogo.jpg" alt="vanatur">
                <h3 class="indexh3">Florence  Restaurant</h3>
            </div>
            <div class="indexflex">
                <div>
                    <div class="box">
                        <a class="indexa" href="tel: +37498444044">
                            <i class="fa-solid fa-phone iconsize"></i>
                            Florence  Restaurant
                        </a>
                    </div>
                    <div class="box">
                        <a class="indexa" href="mailto: imperialprf@gmail.com">
                            <i class="fa-solid fa-square-envelope iconsize"></i>
                            florence@gmail.com
                        </a>
                    </div>
                    <div class="box">
                        <a target="_blank" class="indexa" href="https://m.facebook.com/gyumritv/posts/1669271213216731?locale2=ms_MY">
                            <i class="fa-brands fa-facebook iconsize"></i>
                            facebook
                        </a>
                    </div>
                    <div class="box">
                        <a target="_blank" class="indexa" href="https://www.google.com/maps/dir/40.795508,43.8359362/Florence+Gyumri,+%D0%93%D1%8E%D0%BC%D1%80%D0%B8/@40.7915856,43.8325602,16z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x4041fb4acee53b47:0x6308af0405f3434c!2m2!1d43.8384024!2d40.7877463!3e0">
                            <i class="fa-solid fa-location-pin"></i>
                            Florence Gyumri, Shirazi 5/7, Gyumri 3105, Армения
                        </a>
                    </div>
                </div>
                <div class="indexp">
                    <p>
                        Մեր աշխատանքի գնահատականը տալիս են մեր հաճախորդները...
                        Դարձրե՛ք ձեր հարսանեկան տոնախմբությունն անմոռանալի և ինքնատիպ
                        Հիշարժան ու տարբերվող դարձրեք ձեր կյանքի երջանիկ սկիզբը
                    </p>
                </div>
            </div>
            <hr>
            <div class="indextitle">
                <img class="logo" src="./img/imperial.jpg" alt="vanatur">
                <h3 class="indexh3">Cherkezi Dzor  Restaurant</h3>
            </div>
            <div class="indexflex">
                <div>
                    <div class="box">
                        <a class="indexa" href="tel: +37499011520">
                            <i class="fa-solid fa-phone iconsize"></i>
                            Cherkezi Dzor  Restaurant
                        </a>
                    </div>
                    <div class="box">
                        <a class="indexa" href="mailto: red-fort@mail.ru">
                            <i class="fa-solid fa-square-envelope iconsize"></i>
                            red-fort@mail.ru
                        </a>
                    </div>
                    <div class="box">
                        <a target="_blank" class="indexa" href="https://www.facebook.com/FishFarm.Restaurante/">
                            <i class="fa-brands fa-facebook iconsize"></i>
                            facebook
                        </a>
                    </div>
                    <div class="box">
                        <a target="_blank" class="indexa" href="https://www.google.com/maps/dir/40.795508,43.8359362/Gyumri's+Fish+Restaurant+(Cherkezi+Dzor),+%D0%93%D1%8E%D0%BC%D1%80%D0%B8/@40.7993312,43.8266222,16z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x4041fbfc910daf4d:0x989b60cf7a9eecd1!2m2!1d43.8280291!2d40.7975594!3e0">
                            <i class="fa-solid fa-location-pin"></i>
                            Gyumri's Fish Restaurant (Cherkezi Dzor), QRXH+26C, Gyumri, Армения
                        </a>
                    </div>
                </div>
                <div class="indexp">
                    <p>
                        Ուրախ ենք ձեզ տեղեկացնել ,որ Cherkezi Dzor ռեստորանի բարձորակ և թարմ արտադրատեսակները կարող եք գտնել Seasons Park Station -ի ամանորյա տոնավաճառում։
                        Սիրով սպասում ենք ձեզ ամեն օր ժամը 11։00-ից մինչև երեկոյան 23:00-ը☃️☃️☃️
                    </p>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>


