<% layout('../leauts/main') %>

<!--layouts-->

<div class="containerv">
    <img class="imgvan" src="/img/cherk8.jpg" alt="vanatur">
    <div class="titlevan">
        <img class="titlerestorant" src="/img/ale2.jpg" alt="title">
        <h1>Cherkez Restaurant</h1>
    </div>

    <div class="wrappervan">
        <div class="boxvan">
            <img class="vanimg" src="/img/ale3.jpg" alt="vanatur">
        </div>
        <div class="boxvan">
            <img class="vanimg" src="/img/ale4.jpg" alt="vanatur">
        </div>
        <div>
            <div>
                <div class="box">
                    <a class="indexa" href="tel: +37494240124">
                        <i class="fa-solid fa-phone iconsize"></i>
                        Cherkez  Restaurant
                    </a>
                </div>
                <div class="box">
                    <a class="indexa" href="mailto: info@alexandrapolhotel.am">
                        <i class="fa-solid fa-square-envelope iconsize"></i>
                        info@alexandrapolhotel.am
                    </a>
                </div>
                <div class="box">
                    <a target="_blank" class="indexa" href="https://www.facebook.com/aleksandrapolhotel/">
                        <i class="fa-brands fa-facebook iconsize"></i>
                        facebook
                    </a>
                </div>
                <div class="box">
                    <a target="_blank" class="indexa" href="https://www.google.com/maps/dir/40.795508,43.8359362/Hotel+Alexandrapol,+70+Mayakovsky+Street,+Gyumri+3104,+%D0%90%D1%80%D0%BC%D0%B5%D0%BD%D0%B8%D1%8F/@40.7882396,43.8292965,15z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x4041fc7605d393c7:0x514194ea81380157!2m2!1d43.8414565!2d40.7821694!3e0">
                        <i class="fa-solid fa-location-pin"></i>
                        Myakovski 70, Gyumri, Armenia
                    </a>
                </div>
                <div class="box">
                    <a target="_blank" class="indexa" href="https://www.facebook.com/aleksandrapolhotel/">
                        <i class="fa-solid fa-message"></i>
                        message
                    </a>
                </div>
            </div>
        </div>
        <div class="boxvan">
            <p>
                ิตีฉีฅ ีคีฅีผ ีนีฅึ ีฏีธีฒีดีถีธึีธีทีพีฅีฌี ีธึีฟีฅีฒ ีฝีฟีฅีฒีฎีฅีฌ ีถีธึ ีฐีซีทีธีฒีธึีฉีตีธึีถีถีฅึ, ีกีบีก ีจีถีฟึีฅีึ ีฌีกีพีกีฃีธึีตีถ ีพีกีตึีจ ีฟีกึีซีถ ีฃีฅีฒีฅึีซีฏ ีกีดึีธึีฅีฌีธึ ึ ีีธึ ีฟีกึีซีถ ีคีซีดีกีพีธึีฅีฌีธึ ีฐีกีดีกึ ีฐีกีดีกึ: ๐ฅโจ
                2022ีฉ ีคีซีดีกีพีธึีฅีถึ ีฐีฅึีซีกีฉีกีตีซีถ ึ ีทึีฅีฒ ีดีซีปีกีพีกีตึีธึีดี ีกีถีดีธีผีกีถีกีฌีซ ีดีฉีถีธีฌีธึีฟีซ ีถีฅึึีธ... ิณีตีธึีดึีธึ ีกีดีฅีถีกีทึีฅีฒ ีฐีตีธึึีกีถีธึีซ ีผีฅีฝีฟีธึีกีถีธึีด ... ๐ซ
            </p>
        </div>
        <div class="boxvan">
            <p>
                ๐ิฑีฝีธึีด ีฅีถี ีซีถีนีบีฅีฝ ีคีซีดีกีพีธึีฅีฝ ีฟีกึีซีถ, ีกีตีถีบีฅีฝ ีงีฌ ีกีตีถ ีฏีกีถึีถีซ:๐ฅ
                ีึึีฅีดีถ, 2022ีฉ ีคีซีดีกีพีธึีฅีถึ ีฐีฅึีซีกีฉีกีตีซีถ ึ ีทึีฅีฒ ีดีซีปีกีพีกีตึีธึีดี ีกีถีดีธีผีกีถีกีฌีซ ีดีฉีถีธีฌีธึีฟีซ ีถีฅึึีธ... ิณีตีธึีดึีธึ ีกีดีฅีถีกีทึีฅีฒ ีฐีตีธึึีกีถีธึีซ ีผีฅีฝีฟีธึีกีถีธึีด ... ๐ซ
            </p>
        </div>
        <div class="boxvan">
            <p>
                ิฟีซึีกีผีฅีึ ีดีฅึ ีทึีฅีฒ ีซีถีฟีฅึีซีฅึีจี ีธึีบีฅีฝ ีีฅึ ีฐีกึีฝีกีถีซึีซ ีถีฏีกึีกีฐีกีถีดีกีถ ีกีดีฅีถีกีฏีกึึีธึ ีคีฅีฟีกีฌ ๐ธ๐ค
            </p>
        </div>
    </div>
</div>