<% layout('../leauts/main') %>

<div class="containerv">
    <img class="imgvan" src="/img/vannnnnn.jpg" alt="vanatur">
    <div class="titlevan">
            <img class="titlerestorant" src="/img/vantitle.jpg" alt="title">
            <h1>Vanatour Restaurant</h1>
    </div>

    <div class="wrappervan">
        <div class="boxvan">
            <img class="vanimg" src="/img/vanatur3.jpg" alt="vanatur">
        </div>
        <div class="boxvan">
            <img class="vanimg" src="/img/van4.jpg" alt="vanatur">
        </div>
        <div>
            <div>
                <div class="box">
                    <a class="indexa" href="tel: +374 312 30192">
                        <i class="fa-solid fa-phone iconsize"></i>
                        Vanatour Restaurant
                    </a>
                </div>
                <div class="box">
                    <a class="indexa" href="mailto: vanatour1999@mail.ru">
                        <i class="fa-solid fa-square-envelope iconsize"></i>
                        vanatour1999@mail.ru
                    </a>
                </div>
                <div class="box">
                    <a target="_blank" class="indexa" href="https:www.facebook.com/vanatourrestaurant/">
                        <i class="fa-brands fa-facebook iconsize"></i>
                        facebook
                    </a>
                </div>
                <div class="box">
                    <a target="_blank" class="indexa" href="https://www.google.com/maps/dir/40.795508,43.8359362/%D0%93%D1%8E%D0%BC%D1%80%D0%B8,+QVQ6%2B628,+Gyumri,+%D0%90%D1%80%D0%BC%D0%B5%D0%BD%D0%B8%D1%8F/@40.7910523,43.8390216,15z/data=!3m1!4b1!4m10!4m9!1m1!4e1!1m5!1m1!1s0x4041fbb942ea8601:0xbf113940989d6dbf!2m2!1d43.8600228!2d40.7880625!3e0">
                        <i class="fa-solid fa-location-pin"></i>
                        at the junction of Rizhkov & Gorki sts, Гюмри
                    </a>
                </div>
                <div class="box">
                    <a target="_blank" class="indexa" href="https:www.facebook.com/vanatourrestaurant/">
                        <i class="fa-solid fa-message"></i>
                        message
                    </a>
                </div>
            </div>
        </div>
        <div class="boxvan">
            <p>
                « Պատրաստված է սիրով » այս արտահայտությունը հաճախ ենք լսում համեղ ուտեստների մասին ։ ❤️
                Վանատուրում ուտեստները պատրաստվում են մեծ սիրով և նվիրումով՝ դարձնելով ձեր ընտանեկան հավաքույթների սեղանը համեղ՝ ինչպես տանը 🤗
            </p>
        </div>
        <div class="boxvan">
            <p>
                🎄 Վանատուր ռեստորանի ողջ անձնակազմը սիրով շնորհավորում է բոլորի` Ամանորը
                Թող 2022 թվականը լինի առաջընթացի ու կայունության տարի:
                Մաղթում ենք բոլորին ընտանեկան ջերմություն և խաղաղություն:
            </p>
        </div>
        <div class="boxvan">
            <p>
                Վանատուր ռեստորան` Ձեր ծննդյան տարեդարձները, հարսանեկան արարողությունները և այլ միջոցառումները անմոռաց դարձնելու հյուրընկալ վայր:
            </p>
        </div>
    </div>
</div>